@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

@font-face {
  font-family: "fontelogo";
  src: url("../fonts/bubblegum-sans-regular.otf");
}

/* Formatação da página em geral */

* {
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

p {
  text-align: justify;
  text-indent: 3em;
}

/* Formatação do BODY */

body {
  background-color: #dddddd;
  margin: 0 auto;
  padding: 0;
}

a {
  color: #606060;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin-bottom: .6em;
  margin-top: .6em;
}

/* Formatação da interface */

div#interface {
  color: rgba(0, 0, 0, 1);
  font-size: 1em;
  width: 85%;
  background-color: #ffffff;
  margin: 1em auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 1em 0.8em;
}

/* Formatação do cabeçalho */

header#cabecalho img#icone {
  position: absolute;
  top: 6%;
  right: 10%;
}

header#cabecalho {
  border-bottom: 1px #606060 solid;
  height: 9em;
  background: url("../imagens/glass-logo-peq.jpg") no-repeat 0em 6em;
}

header#cabecalho h1 {
  font-family: "fontelogo", sans-serif;
  color: #606060;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  padding: 0px;
  margin-bottom: 1%;
  margin-top: 1%;
}

header#cabecalho h2 {
  font-family: "Titillium Web", sans-serif;
  color: #888888;
}

/* Formatação do Menu */

nav#menu {
  display: block;
}

nav#menu ul {
  position: absolute;
  list-style: none;
  text-transform: uppercase;
  top: 2%;
  right: 10%;
}

nav#menu li {
  display: inline-block;
  background: #dddddd;
  padding: 5px;
  margin: 2px;
  transition: background-color 1s;
}

nav#menu h1 {
  display: none;
}

nav#menu li:hover {
  background: #606060;
}

nav#menu a {
  color: #000000;
  text-decoration: none;
}

nav#menu a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Formatação do corpo */

section#corpo {
  display: block;
  width: 50%;
  float: left;
  border-right: 1px solid #606060;
  padding-right: 3%;
}

/* Formatação do article */

header#cabecalho-artigo {
  margin-top: 1em;
  margin-bottom: 1em;
}

header#cabecalho-artigo h2 {
  font-family: "fontelogo", sans-serif;
  color: #606060;
}

header#cabecalho-artigo h3 {
  color: #cecece;
}

header#cabecalho-artigo h4 {
  color: #606060;
}

#direita {
  text-align: right;
  margin-top: -1em;
}

/* Formatação de imagens com legenda*/

.foto-legenda {
  position: relative;
  border: 0.5em solid white;
  box-shadow: 1px 1px 4px black;
  margin: 3% 3%;
}

.foto-legenda img {
  width: 100%;
  height: 100%;
}

.foto-legenda figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
  padding: 0.6em;
  box-sizing: border-box;
  transition: opacity 1s;
}

.foto-legenda:hover figcaption {
  opacity: 1;
}

/* Formatação da tabela */

table#tabelaspec {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table#tabelaspec td {
  border: 1px solid #606060;
  padding: 0.6em;
  text-align: center;
  vertical-align: middle;
  font-size: 100%;
}

table#tabelaspec td.ce {
  color: #ffffff;
  background-color: #606060;
  vertical-align: middle;
  font-weight: bold;
}

table#tabelaspec td.cd {
  background-color: #cecece;
}

table#tabelaspec caption {
  color: #888888;
  font-size: 1em;
  font-weight: bolder;
  caption-side: bottom;
}

table#tabelaspec caption span {
  display: block;
  float: right;
  color: #000000;
  font-size: 0.6em;
  margin-top: 0.8em;
}

/* Formatação dos filmes */

#filme {
  width: 90%;
  height: 90%;
}

/* Formatação do aside */

aside#lateral {
  display: block;
  width: 40%;
  float: right;
  background-color: #dddddd;
  padding: 0.6em;
  margin-top: 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-right: 2%;
}

aside#lateral h1 {
  font-family: "fontelogo", sans-serif;
  color: #606060;
  margin-top: 0px;
}

aside#lateral h2 {
  background-color: #606060;
  color: #ffffff;
  padding: 0.3em;
}

/* Formatação do footer */

footer#rodape {
  clear: both;
  border-top: 1px solid #606060;
}

footer#rodape p {
  text-align: center;
}

/* ========== MOBILE FIRST ==========*/


/* Dispositivos extra large (desktops grandes com 1280px ou mais) */

@media (max-width: 1440px) {

  .menu-resp {
    display: none;
  }

  .btn-menu {
    visibility: hidden;
  }

  nav#menu-resp {
    visibility: visible;
  }

  #icone {
    visibility: visible;
  }

}

/* LARGE DEVICES - WIDE SCREENS  (desktops com 960px a 1280px)*/

@media (max-width: 1280px) {}


/* MEDIUM DEVICES - TABLETS & DESKTOPS (com 768px a 960px)*/

@media (max-width: 960px) {}

/* SMALL DEVICES - TABLETS  (com 480px a 768px)*/

@media (max-width: 768px) {
  nav#menu {
    visibility: hidden;
  }

  #icone {
    visibility: hidden;
  }

  .btn-menu {
    visibility: visible;
    margin-top: -9.5em;
    width: 56px;
    height: 56px;
    float: right;
    color: rgb(255, 255, 255);
    border-radius: 56px;
    cursor: pointer;
    background: #606060;
  }

  a.btn-close {
    font-size: 1.5em;
    color: rgb(20, 19, 19);
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
  }

  /* MENU */
  .menu-resp {
    width: 20%;
    position: fixed;
    top: 2.5%;
    right: 6.5%;
    display: none;
    background: #dddddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .menu-resp h1 {
    font-size: 1.2em;
    color: #000;
    font-family: Arial, sans-serif;
  }

  .menu-resp ul {
    text-align: center;
    list-style: none;
    text-transform: uppercase;
  }

  .menu-resp li {
    background: #fcfafa;
    margin: 1px;
  }

  .menu-resp a:hover {
    color: #ffffff;
    background: #606060;
  }
}

/* SMALL DEVICES - SMARTPHONES (com 360px a 480px)*/


@media (max-width: 480px) {

  .menu-resp {
    width: 33%;
  }

  .btn-menu {
    margin-top: -9.5em;
    width: 56px;
    height: 56px;
    float: right;
    color: rgb(255, 255, 255);
    border-radius: 56px;
    cursor: pointer;
    background: #606060;
  }

  section#corpo {
    width: 95%;
    border: none;
    margin: 2%;
  }

  aside#lateral {
    width: 95%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 3% auto;
  }


}

/* SMALL DEVICES (com  até 360px)*/

@media (max-width: 360px) {

  .menu-resp {
    width: 45%;
  }

  header#cabecalho {
    height: 8em;
    background: none;
  }

  .btn-menu {
    margin-top: -8.5em;
  }

}



/* esconder menu */

/*

.bg-gradient {
	background: linear-gradient(to right, #ce2e3c, #da6709);
}
.btn-menu {
	width: 56px;
	height: 56px;
	float: right;
	text-align: center;
	color: #fff;
	border-radius: 56px;
	cursor: pointer;
}
.menu {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
}

.btn-close {
	font-size: 1.5em;
	color: #fff;
	float: right;
	cursor: pointer;
	margin: 2% 3% 0 0;
}

/* LARGE DEVICES - WIDE SCREENS*/

/*
@media screen and (min-width: 1280px) {
	.btn-menu {
		display: none;
	}

	.btn-close {
		display: none;
	}

	.menu {
		width: auto;
		height: 56px;
		line-height: 56px;
		float: right;
		background-color: #f5f5f5;
		display: block !important;
		position: static;
	}

	.menu li {
		padding: 0;
		float: left;
	}

	.menu li a {
		color: #130400;
		font-size: 1em;
		padding: 15px;
	}

	.menu li a:hover {
		border: none;
		color: #da6709;
	}
}
*/
