@charset "UTF-8";

form {
    width: 75%;
    margin: auto;
}

input {
    margin: .2em;
}

input,
textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .8);
}

input:hover,
textarea:hover {
    background-color: #dddddd;
}

legend {
    color: #888888;
    font-weight: bold;
    font-family: sans-serif;
    font-weight: 13pt;

}

fieldset {
    border-color: #cecece;
    margin: 1.3em;
}

fieldset#sexo {
    width: 10em;
}

fieldset#usuario {
    background: url(../imagens/icone-contato.png) no-repeat 95% 95%;

}

fieldset#endereco {
    background: url(../imagens/icone-endereco-peq.png) no-repeat 95% 95%;

}

fieldset#mensagem {
    background: url(../imagens/icone-mensagem-peq.png) no-repeat 95% 95%;

}

fieldset#pedido {
    background: url(../imagens/icone-pagamento-peq.png) no-repeat 95% 95%;

}

/* ========== MOBILE FIRST ==========*/

/* Dispositivos extra large (desktops grandes com 1280px ou mais) */

@media (max-width: 1440px) {

    .normal {
        visibility: visible;
    }

    .celular {
        visibility: hidden;
        margin-bottom: -2em;
    }
}

/* LARGE DEVICES - WIDE SCREENS  (desktops com 960px a 1280px)*/

@media (max-width: 1280px) {}

/* MEDIUM DEVICES - TABLETS & DESKTOPS (com 768px a 960px)*/

@media (max-width: 960px) {}

/* SMALL DEVICES - TABLETS  (com 480px a 768px)*/

@media (max-width: 768px) {
    form {
        width: 400px;
        margin: auto;
    }

    .normal {
        visibility: hidden;
        margin-top: -2.5em;
    }

    .celular {
        visibility: visible;
        margin-bottom: .5em;

    }


}

/* SMALL DEVICES - SMARTPHONES (com 360px a 480px)*/

@media (max-width: 480px) {
    form {
        width: 300px;
        margin: auto;
    }

    textarea {
        width: 250px;
    }
}

/* SMALL DEVICES (com  até 360px)*/

@media (max-width: 360px) {}