@charset "UTF-8";

section#conteudo {
    margin: auto;
}

iframe#frame-spec {
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS (com 768px a 960px)*/

@media (max-width: 960px) {
    iframe#frame-spec {
        display: none;
    }

    #conteudo img {
        width: 100%;
    }
}